<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="page" layout:fragment="content">
        <div id="Main">
            <!-- Div to hold main contents -->
            <div class="buttonContainer">
                <a class="button" href="/rooms">View Available Rooms</a>
                <button class="button" id="booking" type="button">Make a booking</button>
            </div>

            <h1 class="divHeading">Mission Statement</h1>
        </div>

        <div id="Second">
            <!-- Div to hold secondary content -->
            <div class="buttonContainer">
                <button class="button" id="roomService" type="button">Order Room Servce</button>
                <button class="button" id="feedback" type="button">Leave Feedback</button>
            </div>
            <h1 class="divHeading">Staying at EDPGH?</h1>
        </div>
    </div>

</body>

</html>
