<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <nav>
        <a href="index.html"><img id="logo" src="../static/images/gb.png"></a>
        <ul>
            <!-- Nav bar and list options / links -->
            <li><a href="#">SEARCH AVAILABLE ROOMS</a></li>
            <li><a href="#">MAKE A BOOKING</a></li>
            <li><a href="#">LEAVE A REVIEW</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </nav>
    <!-- Main page content container -->
    <div id="page" layout:fragment="content">
        <!-- Slideshow code from https://www.w3schools.com/howto/howto_js_slideshow.asp -->
        <div class="slideshowBox">
            <!-- Slideshow images entered within -->
            <div class="slideshowSlide">
                <img src="../static/images/roomType1.jpg" style="width:100%">"
                <div class="slideshowCaption">Gold Room</div>
            </div>
            <div class="slideshowSlide">
                <img src="../static/images/roomType2.jpg" style="width:100%">"
                <div class="slideshowCaption">Platinum Room</div>
            </div>
            <div class="slideshowSlide">
                <img src="../static/images/roomType3.jpg" style="width:100%">"
                <div class="slideshowCaption">Diamond Room</div>
            </div>
            <div class="slideshowSlide">
                <img src="../static/images/roomType4.jpg" style="width:100%">"
                <div class="slideshowCaption">Californium Room</div>
            </div>
        </div>
        <!-- Next and previous slide arrows -->
        <a class="slideshowPrev">&#10094;</a>
        <a class="slideshowNext">&#10095;</a>
        <br>
        <!-- Slideshow tracking using dots -->
        <div class="slideshowTracker">
            <span class="slideshowDot"></span>
            <span class="slideshowDot"></span>
            <span class="slideshowDot"></span>
        </div>

        <!-- "Find a room" form container -->
        <div>
            <form>
                Room Details<br>
                <div>
                    <div class="divInline">
                        Please enter requested start date:<br>
                        <input type="date" name="viewStart">
                    </div>
                    <div class="divInline">
                        Please enter requested end date:<br>
                        <input type="date" name="viewEnd"><br>
                    </div>
                </div>
                <div>
                    Adults:<br>
                    <input type="number" name="viewAdults" min="0">
                </div>
                <div>
                    Children:<br>
                    <input type="number" name="viewChildren" min="0">
                </div>
                <div>
                    Beds:<br>
                    <input type="number" name="viewBeds" min="0">
                </div>
                <div>
                    Room Type:<br>
                    <select name="viewType">
                        <option value="gold">Gold</option>
                        <option value="platinum">Platinum</option>
                        <option value="diamond">Diamond</option>
                        <option value="californium">Californium</option>
                    </select>
                </div>
                <div>
                    <input type="submit" name="viewSubmit" value="Find Rooms">
                </div>
            </form>
        </div>

    </div>

</body>

</html>